In [31]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
penguins = sns.load_dataset("penguins")
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [5]:
penguins.isna().any()

species              False
island               False
bill_length_mm        True
bill_depth_mm         True
flipper_length_mm     True
body_mass_g           True
sex                   True
dtype: bool

In [6]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [7]:
penguins_cleaned = penguins.dropna()

In [8]:
penguins_cleaned.isna().any()

species              False
island               False
bill_length_mm       False
bill_depth_mm        False
flipper_length_mm    False
body_mass_g          False
sex                  False
dtype: bool

In [9]:
penguins_cleaned["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [10]:
penguins_cleaned["island"].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [11]:
penguins_cleaned["sex"].unique()

array(['Male', 'Female'], dtype=object)

In [12]:
label1 = LabelEncoder()
label2 = LabelEncoder()
label3 = LabelEncoder()

In [13]:
penguins_cleaned["species"] = label1.fit_transform(penguins_cleaned["species"])
penguins_cleaned["island"] = label2.fit_transform(penguins_cleaned["island"])
penguins_cleaned["sex"] = label3.fit_transform(penguins_cleaned["sex"])

/tmp/ipykernel_12431/622726675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins_cleaned["species"] = label1.fit_transform(penguins_cleaned["species"])
/tmp/ipykernel_12431/622726675.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins_cleaned["island"] = label2.fit_transform(penguins_cleaned["island"])
/tmp/ipykernel_12431/622726675.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins_cleaned["sex"] = label2.fit_transform(penguins_cleaned["sex"])

In [14]:

penguins_cleaned["species"].unique()

array([0, 1, 2])

In [15]:
penguins_cleaned["island"].unique()

array([2, 0, 1])

In [16]:
penguins_cleaned["sex"].unique()

array([1, 0])

In [17]:

penguins_cleaned

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,1
1,0,2,39.5,17.4,186.0,3800.0,0
2,0,2,40.3,18.0,195.0,3250.0,0
4,0,2,36.7,19.3,193.0,3450.0,0
5,0,2,39.3,20.6,190.0,3650.0,1
...,...,...,...,...,...,...,...
338,2,0,47.2,13.7,214.0,4925.0,0
340,2,0,46.8,14.3,215.0,4850.0,0
341,2,0,50.4,15.7,222.0,5750.0,1
342,2,0,45.2,14.8,212.0,5200.0,0
343,2,0,49.9,16.1,213.0,5400.0,1

In [18]:
penguins_cleaned.corr()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
species,1.000000,-0.622428,0.730548,-0.740346,0.850737,0.750434,0.010964
island,-0.622428,1.000000,-0.337179,0.568031,-0.554413,-0.559526,-0.012435
bill_length_mm,0.730548,-0.337179,1.000000,-0.228626,0.653096,0.589451,0.344078
bill_depth_mm,-0.740346,0.568031,-0.228626,1.000000,-0.577792,-0.472016,0.372673
flipper_length_mm,0.850737,-0.554413,0.653096,-0.577792,1.000000,0.872979,0.255169
body_mass_g,0.750434,-0.559526,0.589451,-0.472016,0.872979,1.000000,0.424987
sex,0.010964,-0.012435,0.344078,0.372673,0.255169,0.424987,1.000000

In [19]:
x = penguins_cleaned.drop(["species", "island", "sex"],axis = 1)

In [25]:
y = penguins_cleaned["species"]

In [26]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2, random_state = 1)

In [27]:
xtrain

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
306            43.4           14.4              218.0       4600.0
168            50.3           20.0              197.0       3300.0
181            52.8           20.0              205.0       4550.0
167            50.5           19.6              201.0       4050.0
19             46.0           21.5              194.0       4200.0
..              ...            ...                ...          ...
209            49.3           19.9              203.0       4050.0
262            45.3           13.7              210.0       4300.0
78             36.2           16.1              187.0       3550.0
241            45.1           14.5              215.0       5000.0
42             36.0           18.5              186.0       3100.0

[266 rows x 4 columns]

In [28]:
ytrain

306    2
168    1
181    1
167    1
19     0
      ..
209    1
262    2
78     0
241    2
42     0
Name: species, Length: 266, dtype: int64

In [29]:
xtest

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
65             41.6           18.0              192.0       3950.0
276            43.8           13.9              208.0       4300.0
186            49.7           18.6              195.0       3600.0
198            50.1           17.9              190.0       3400.0
293            46.5           14.8              217.0       5200.0
..              ...            ...                ...          ...
255            48.4           16.3              220.0       5400.0
138            37.0           16.5              185.0       3400.0
86             36.3           19.5              190.0       3800.0
79             42.1           19.1              195.0       4000.0
197            50.8           18.5              201.0       4450.0

[67 rows x 4 columns]

In [30]:
ytest

65     0
276    2
186    1
198    1
293    2
      ..
255    2
138    0
86     0
79     0
197    1
Name: species, Length: 67, dtype: int64