In [3]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
import_file = pd.read_excel(r"C:\Users\User\Desktop\FIN Tasks For Assignment.xlsx",sheet_name="Task 1 - Sample")
import_file

,Ind,Gender,age_range,Occ_code,Partner_status,Lodgment_method,PHI_Ind,Tot_inc_amt,Tot_ded_amt,Taxable_Income,Random numbers
0,41188,Male,70 and over,Occupation not listed/ Occupation not specified,Partnered,Tax Agent,PHI,18083,0,18083,0.000003
1,72485,Male,30 to 34,Professionals,Single,Tax Agent,PHI,87409,9497,77912,0.000004
2,108268,Male,25 to 29,Community and Personal Service Workers,Single,Self Prepared,No PHI,10892,431,10461,0.000010
3,65459,Male,35 to 39,Labourers,Partnered,Tax Agent,No PHI,48321,4485,43836,0.000011
4,91243,Female,60 to 64,Professionals,Partnered,Tax Agent,PHI,69704,802,68902,0.000013
...,...,...,...,...,...,...,...,...,...,...,...
995,136127,Male,30 to 34,Professionals,Single,Self Prepared,No PHI,108096,2278,105818,0.003795
996,66644,Male,35 to 39,Professionals,Partnered,Self Prepared,PHI,153558,2009,151549,0.003797
997,131864,Female,30 to 34,Technicians and Trades Workers,Partnered,Tax Agent,PHI,77248,3562,73686,0.003802
998,198200,Male,65 to 69,Occupation not listed/ Occupation not specified,Partnered,Tax Agent,No PHI,26728,0,26728,0.003811
999,246621,Male,20 to 24,Labourers,Single,Tax Agent,PHI,32691,251,32440,0.003811

In [5]:
Lodge_Agent = import_file[import_file["Lodgment_method"] == "Tax Agent"]
Lodge_Self = import_file[import_file["Lodgment_method"] == "Self Prepared"]
Gen_Female = import_file[import_file["Gender"] == "Female"]
Gen_Male = import_file[import_file["Gender"] == "Male"]

In [6]:
avg_tax_lodge_Agent = Lodge_Agent['Tot_ded_amt'].mean()
print(avg_tax_lodge_Agent)

2782.8786279683377

In [7]:
avg_tax_lodge_Self = Lodge_Self['Tot_ded_amt'].mean()
print(avg_tax_lodge_Self)

1640.1570247933885

In [8]:
avg_tax_Gen_Female = Gen_Female['Taxable_Income'].mean()
print(avg_tax_Gen_Female)

46544.448637316564

In [9]:
avg_tax_Gen_Male = Gen_Male['Taxable_Income'].mean()
print(avg_tax_Gen_Male)

67559.84512428298